<%= provide :title, "Single Product - BIGBAG Store"  %>
  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="page-title">
            <h2>Single Product</h2>
          </div>
        </div>
        <div class="col-xs-6">
          <ol class="breadcrumb pull-right">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li class="active">Single Product</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left productSlider">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active" data-thumb="0">
                    <%= image_tag @product.display_image.attachment(:large) %>
                  </div>
                  <div class="item" data-thumb="1">
                    <%= image_tag @product.display_image.attachment(:large) %>
                  </div>
                  <div class="item" data-thumb="2">
                    <%= image_tag @product.display_image.attachment(:large) %>
                  </div>
                  <div class="item" data-thumb="3">
                    <%= image_tag @product.display_image.attachment(:large) %>
                  </div>
                </div>
              </div>
              <div class="clearfix">
                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <div data-target="#carousel" data-slide-to="0" class="thumb"><%= image_tag @product.display_image.attachment(:small) %></div>
                    <div data-target="#carousel" data-slide-to="1" class="thumb"><%= image_tag @product.display_image.attachment(:small) %></div>
                    <div data-target="#carousel" data-slide-to="2" class="thumb"><%= image_tag @product.display_image.attachment(:small) %></div>
                    <div data-target="#carousel" data-slide-to="3" class="thumb"><%= image_tag @product.display_image.attachment(:small) %></div>
                  </div>
                  <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="media-body">
              <ul class="list-inline">
                <li><a href="product_grid_left_sidebar.html"><i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る</a>
                </li>
                <!-- <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>Share This</a></li> -->
              </ul>
              <h2><%= @product.name %></h2>
              <h3>$<%= @product.price %></h3>
              <p><%= @product.description %></p>
              <span class="quick-drop">
                <select name="guiest_id3" id="guiest_id3" class="select-drop">
                  <option value="0">S</option>
                  <option value="1">M</option>
                  <option value="2">L</option>
                  <option value="3">XL</option>
                </select>
              </span>
              <span class="quick-drop resizeWidth">
                <select name="guiest_id4" id="guiest_id4" class="select-drop">
                <!--   <option value="0">Qty</option> -->
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </span>
              <div class="btn-area">
                <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </div>
              <div class="tabArea">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#details">details</a></li>
                  <li><a data-toggle="tab" href="#about-art">about art</a></li>
                  <li><a data-toggle="tab" href="#sizing">sizing</a></li>
                  <li><a data-toggle="tab" href="#shipping">shipping</a></li>
                </ul>
                <div class="tab-content">
                  <div id="details" class="tab-pane fade in active">
                    <p><%= @product.description %></p>
                    <ul class="list-unstyled">
                      <li>Black, Crew Neck</li>
                      <li>75% Cotton, 25% Rayon</li>
                      <li>Waterbased Ink</li>
                      <li>Wash Cold, dry low</li>
                    </ul>
                  </div>
                  <div id="about-art" class="tab-pane fade">
                    <p>Nulla facilisi. Mauris efficitur, massa et iaculis accumsan, mauris velit ultrices purus, quis
                      condimentum nibh dolor ut tortor. Donec egestas tortor quis mattis gravida. Ut efficitur elit
                      vitae dignissim volutpat. </p>
                  </div>
                  <div id="sizing" class="tab-pane fade">
                    <p>Praesent dui felis, gravida a auctor at, facilisis commodo ipsum. Cras eu faucibus justo. Nullam
                      varius cursus nisi, sed elementum sem sagittis at. Nulla tellus massa, vestibulum a commodo
                      facilisis, pulvinar convallis nunc.</p>
                  </div>
                  <div id="shipping" class="tab-pane fade">
                    <p>Mauris lobortis augue ex, ut faucibus nisi mollis ac. Sed volutpat scelerisque ex ut ullamcorper.
                      Cras at velit quis sapien dapibus laoreet a id odio. Sed sit amet accumsan ante, eu congue metus.
                      Aenean eros tortor, cursus quis feugiat sed, vestibulum vel purus.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row productsContent">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>関連商品</h4>
          </div>
        </div>
        <% @related_products.each do |product| %>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="productBox">
                <div class="productImage clearfix">
                  <%= image_tag product.display_image.attachment(:small) %>
                  <div class="productMasking">
                    <ul class="list-inline btn-group" role="group">
                      <li>
                        <a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a>
                      </li>
                      <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                      <li>
                        <a class="btn btn-default" data-toggle="modal" href=".quick-view"><i class="fa fa-eye"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="productCaption clearfix">
                  <h5><%= product.name %></h5>
                  <h3>$<%= product.price %></h3>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
</section>
