<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/site_title" %>
    <%= render "layouts/shop_header" %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <div class="main-wrapper">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <%= render "layouts/copyright" %>
    <%= render "layouts/modals" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
